@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #ffc600;
  font-family: "helvetica";
  font-size: 20px;
  font-weight: 200;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
}
